<form method="POST" action = "/outfits">
<!--   <label>Image</label>
 -->  <input type = "image" name = "image">
  <br>
<!--   <label>Contents</label>
 -->  <input type = "contents" name = "contents">
<!--   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>">
 -->  <br>
  <button>Submit</button>
</form>

