<div id="maincontainer">
<div class="row">
  <%= image_tag "background.png", class: "col-md-12 background" %>
</div>
  <header>
    <div class="upperHeader">
      <div class="container">
    </div>
    </div>
  </header>
  <%= button_to "LOGIN", login_path, class: "splashlink1", method: :get %>
  <%= button_to "CREAT AN ACCOUNT", new_user_path, class: "splashlink2", method: :get %>
</div>



