<!DOCTYPE html>
<html>
<head>
	<title>DressCode | What to Wear</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<div class="sidebar">
		<ul>
			<a class="invarseColor" href="#"><li>What to Wear</li></a>
			<a class="invarseColor" href="#"><li>Closet</li></a>
		</ul>
		<img class="sidebarbg" src="images/sidebar.png">
	</div>
	<div class="mainshop">
		<div class="modelwrap">
			<img class="model" src="images/model.png">
		</div>
	</div>
</body>
</html>